@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.address-span {
  display: inline-block;
  padding: 10px 20px;
  background-color: #e0e0e0;
  border-radius: 8px;
  font-size: 18px;
  color: #333;
  cursor: pointer;
  transition: transform 0.6s, background-color 0.3s, color 0.3s;
  margin-right: 10px;
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
  text-align: center;
  max-width: 100%;
  font-family: 'Roboto', sans-serif;
}

.address-span::before {
  content: attr(title);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateY(-100%);
  width: 100%;
  height: 100%;
  background-color: #9584ff;
  color: #fff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  padding: 10px 20px;
  transition: transform 0.6s, opacity 0.6s;
  font-size: 13px;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  opacity: 0;
  visibility: hidden;
  font-family: 'Roboto', sans-serif;
}

.address-span:hover::before {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) translateY(0);
  border-radius: 8px;
}

.address-span:not(:hover)::before {
  opacity: 0;
  visibility: hidden;
  transform: translate(-50%, -50%) translateY(-100%);
}

.address-span:not(:hover):nth-child(1)::before { transition-delay: 0.4s; }
.address-span:not(:hover):nth-child(2)::before { transition-delay: 0.3s; }
.address-span:not(:hover):nth-child(3)::before { transition-delay: 0.2s; }
.address-span:not(:hover):nth-child(4)::before { transition-delay: 0.1s; }
.address-span:not(:hover):nth-child(5)::before { transition-delay: 0s; }

.address-span span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

.address-span:nth-child(1) { transition-delay: 0s; }
.address-span:nth-child(2) { transition-delay: 0.1s; }
.address-span:nth-child(3) { transition-delay: 0.2s; }
.address-span:nth-child(4) { transition-delay: 0.3s; }
.address-span:nth-child(5) { transition-delay: 0.4s; }

.address-span:not(:hover):nth-child(1) { transition-delay: 0.4s; }
.address-span:not(:hover):nth-child(2) { transition-delay: 0.3s; }
.address-span:not(:hover):nth-child(3) { transition-delay: 0.2s; }
.address-span:not(:hover):nth-child(4) { transition-delay: 0.1s; }
.address-span:not(:hover):nth-child(5) { transition-delay: 0s; }