.container {
    position: relative;
}

#logoutButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    color:#9584ff;
    font-size: 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    padding: 10px 20px;
    width: auto;
    min-width: 30px;
}

#logoutButton:hover {
    background-color: #7e6ef2;
    color: white;
}

