#account {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  #account button {
    background-color: #9584ff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, transform 0.3s;
    width: auto;
    min-width: 50px;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  #account button:hover {
    background-color: #7e6ef2;
    transform: translateY(-2px);
  }
  
  .icon-transition-out {
    animation: iconOut 0.2s forwards;
  }
  
  .icon-transition-in {
    animation: iconIn 0.2s forwards;
  }
  
  .icon-transition-out-reverse {
    animation: iconOutReverse 0.2s forwards;
  }
  
  .icon-transition-in-reverse {
    animation: iconInReverse 0.2s forwards;
  }
  
  @keyframes iconOut {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      transform: translateY(20px);
      opacity: 0;
    }
  }
  
  @keyframes iconIn {
    from {
      transform: translateY(-20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes iconOutReverse {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      transform: translateY(-20px);
      opacity: 0;
    }
  }
  
  @keyframes iconInReverse {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  